
.container-fluid {
    padding: 0px !important;
}


.navbar-inverse .navbar-nav > li > a {
    font-family: 'Vazir';
}

.menu {
    width: 100%;
}

.navbar-nav > li {
    float: right !important;
}

.navbar {
    border-radius: 0 !important;
}

@media (max-width: 768px) {
    .navbar-nav > li {
        float: none !important;
        text-align: center;
    }
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.table {
    margin-bottom: 0;
}